# Google map data labeling

In [1]:
#Parse
import pandas as pd

df = pd.read_csv('/home/aiffel-dj57/project/labeled_google_review.csv')
#test = pd.read_csv('nsmc/ratings_test.txt', sep='\t') # 
df

,name,ratings,date,label,comment,search,keyword
0,미샤,4,2주 전,1,여기는 갈 때마다 새로운 느낌이 야 즐거운 시간이 되었습니다,장태산자연휴양림메타세콰이어산림욕장,jangtaesan
1,Gyang gree young,5,3주 전,1,하늘 보고 누워 힐링하기 너무 좋은 곳이에요,장태산자연휴양림메타세콰이어산림욕장,jangtaesan
2,박진수,5,3달 전,1,잘 정리된 메타세쿼이아 숲에서 산림욕하기 좋은 곳으로 둘레길 걷기와 전망대까지 가벼...,장태산자연휴양림메타세콰이어산림욕장,jangtaesan
3,Sh Choi,5,7달 전,1,산책하기 너무 좋은 명소,장태산자연휴양림메타세콰이어산림욕장,jangtaesan
4,박은선,5,1년 전,1,주말 마자 애정 하는 장태산 나들이 단풍도 예뻐요,장태산자연휴양림메타세콰이어산림욕장,jangtaesan
...,...,...,...,...,...,...,...
8505,young wu Kwon,5,1년 전,1,재밌어요,오월드,o_world
8506,강강수월래,4,1년 전,1,애들 놀고 구경거리는 굿,오월드,o_world
8507,원언니,5,1년 전,1,초등생 전용 놀이로 아담하고 이 뻐요,오월드,o_world
8508,김경영,4,1년 전,1,괜찮아요,오월드,o_world
8509,김소연,5,1년 전,1,겨울에도 놀기 좋아요,오월드,o_world

In [2]:
df['keyword'].value_counts()

sungsimdang          1864
water_barrel          685
jangtaesan            519
gyejoksan             483
expo_science_park     450
o_world               447
yuseong_hotspring     432
ppuri_park            427
hanbat_arboretum      403
dongchundang          328
daecheong_lake        180
Name: keyword, dtype: int64

In [3]:
df.describe

<bound method NDFrame.describe of                   name  ratings  date  label  \
0                   미샤        4  2주 전      1
1     Gyang gree young        5  3주 전      1
2                  박진수        5  3달 전      1
3              Sh Choi        5  7달 전      1
4                  박은선        5  1년 전      1
...                ...      ...   ...    ...
8505     young wu Kwon        5  1년 전      1
8506             강강수월래        4  1년 전      1
8507               원언니        5  1년 전      1
8508               김경영        4  1년 전      1
8509               김소연        5  1년 전      1

                                                comment              search  \
0                     여기는 갈 때마다 새로운 느낌이 야 즐거운 시간이 되었습니다  장태산자연휴양림메타세콰이어산림욕장
1                              하늘 보고 누워 힐링하기 너무 좋은 곳이에요  장태산자연휴양림메타세콰이어산림욕장
2     잘 정리된 메타세쿼이아 숲에서 산림욕하기 좋은 곳으로 둘레길 걷기와 전망대까지 가벼...  장태산자연휴양림메타세콰이어산림욕장
3                                         산책하기 너무 좋은 명소  장태산자연휴양림메타세콰이어산림욕장
4                           주말 마자 애정 하는 장태산 나들이 단풍도 예뻐요  장태산자연휴양림메타세콰이어산림욕장
...                                                 ...                 ...
8505                                               재밌어요                 오월드
8506                                      애들 놀고 구경거리는 굿                 오월드
8507                               초등생 전용 놀이로 아담하고 이 뻐요                 오월드
8508                                               괜찮아요                 오월드
8509                                        겨울에도 놀기 좋아요                 오월드

         keyword
0     jangtaesan
1     jangtaesan
2     jangtaesan
3     jangtaesan
4     jangtaesan
...          ...
8505     o_world
8506     o_world
8507     o_world
8508     o_world
8509     o_world

[8510 rows x 7 columns]>

In [4]:
유성온천공원 = df[df['search']== '유성온천공원']
len(유성온천공원)

25

In [5]:
유성온천공원

,name,ratings,date,label,comment,search,keyword
6243,김명숙,5,2일 전,-1,코로나로 한산한 유성의 이팝의 거리가 한산함에서 운함,유성온천공원,yuseong_hotspring
6244,양승일,4,1주 전,-1,꽃이 약간 시든 게 아쉬워서요,유성온천공원,yuseong_hotspring
6245,민pd,5,1주 전,1,야경이 좋아요,유성온천공원,yuseong_hotspring
6246,최진식,5,2주 전,1,소 연장 족욕 체험장도 있고 데이트 장소로 너무 좋아요,유성온천공원,yuseong_hotspring
6247,황영주,5,1달 전,1,유성구에서 수시로 관리하셔서 깨끗한 환경의 꽃길 힐링할 수 있는 곳 추천합니다,유성온천공원,yuseong_hotspring
6248,타이콩._.,5,1달 전,1,커피 한 잔 들고 산책,유성온천공원,yuseong_hotspring
6249,쮸잉,3,4달 전,1,볼 게 없던데 밤에 와야 하나,유성온천공원,yuseong_hotspring
6250,SEONGJIN MOON,5,4달 전,1,최고라는 말밖에 할 말이 없다는 말밖에 할 말이 없다,유성온천공원,yuseong_hotspring
6251,Jinsuk Kim,5,5달 전,1,야외 족욕 장히 있어서 많은 분들이 찾는 곳,유성온천공원,yuseong_hotspring
6252,조인선,4,7달 전,1,잘 가꾸어 놓아 보기가 좋습니다,유성온천공원,yuseong_hotspring
6253,조원진,4,7달 전,-1,국화축혼잡,유성온천공원,yuseong_hotspring
6254,임춘섭,5,7달 전,1,친절하고 서비스가 좋으니까 파이팅,유성온천공원,yuseong_hotspring
6255,한영식,5,7달 전,-1,코로나로 전년 대비 아쉬움,유성온천공원,yuseong_hotspring
6256,라천호,4,7달 전,1,온천수가 나와서 좋네요,유성온천공원,yuseong_hotspring
6257,깜김영찬,3,8달 전,-1,옛날을 상상하며 왔는데 온 천지 구라기보다는 그냥 도시라고 보면 될 듯하네요 다음에...,유성온천공원,yuseong_hotspring
6258,pedro park,5,11달 전,1,좋음,유성온천공원,yuseong_hotspring
6259,천용주,4,1년 전,1,산책하기 좋음,유성온천공원,yuseong_hotspring
6260,한병찬,5,1년 전,1,월국화축가 아름다운 곳,유성온천공원,yuseong_hotspring
6261,Ginny C,5,1년 전,1,에서 무료 따뜻한 봄 경험,유성온천공원,yuseong_hotspring
6262,G.C Cheon,3,1년 전,-1,간단하게 발족 욕을 할 수 있는 족욕 쟁입니다 일부러 들릴만한 곳은 아니지만 쉬어가...,유성온천공원,yuseong_hotspring
6263,PE건강더하기센터,5,2년 전,1,운동 삼아 걷기 좋아요 볼거리도 있고요,유성온천공원,yuseong_hotspring
6264,柳松,4,2년 전,1,작은 음악 이벤트도 있고 평화 곳 있습니다 마라,유성온천공원,yuseong_hotspring
6265,곽레나,5,3년 전,1,위치 좋고 요족 욕탕 무료 이용 참 좋아요 일본 유후인 안 부러움,유성온천공원,yuseong_hotspring
6266,hoony kim,4,3년 전,1,어르신들이 많이 쉬시는 곳,유성온천공원,yuseong_hotspring
6267,Diomar Corpuz,5,4년 전,0,큰,유성온천공원,yuseong_hotspring

In [6]:
유성온천족욕체험장 = df[df['search']== '유성온천족욕체험장']
len(유성온천족욕체험장)

407

In [7]:
유성온천족욕체험장

,name,ratings,date,label,comment,search,keyword
6268,이승현.믿음으로,4,10시간 전,1,어르신분들이 너무 좋아하시네요,유성온천족욕체험장,yuseong_hotspring
6269,송재영,4,2일 전,1,도심에서 족욕을 체험할 수 있음,유성온천족욕체험장,yuseong_hotspring
6270,쩐메이커 (쩐메이커),5,1주 전,1,아 살살 녹는다,유성온천족욕체험장,yuseong_hotspring
6271,냥이찡.,5,2주 전,1,피로도 풀리고 아주 좋아요,유성온천족욕체험장,yuseong_hotspring
6272,seongi cho,5,2주 전,1,아주 좋아요,유성온천족욕체험장,yuseong_hotspring
...,...,...,...,...,...,...,...
6670,김대홍,4,2년 전,1,우선 짜다 지하철에서 가까워 접근이 쉽다 웅덩이처럼 고인 곳과 개울처럼 긴 곳이 있...,유성온천족욕체험장,yuseong_hotspring
6671,KYUNGIL KIM,4,2년 전,1,언니 누구나 와서 쉴 수 있는 간이죠,유성온천족욕체험장,yuseong_hotspring
6672,S Jeong,4,2년 전,1,온 천축 재밌어요,유성온천족욕체험장,yuseong_hotspring
6673,조명자,5,2년 전,1,족욕 넘세하고 좋은 연도 몇 프로 보고 아주 좋았습니다,유성온천족욕체험장,yuseong_hotspring
6674,오세충,4,2년 전,1,유성온천 활축,유성온천족욕체험장,yuseong_hotspring

In [8]:
유성온천족욕체험장2 = 유성온천족욕체험장[유성온천족욕체험장['label'] == False]
유성온천족욕체험장2 #label이 0인 데이터만 불러와진다.

,name,ratings,date,label,comment,search,keyword
6300,SY Kang,3,5달 전,0,그래서,유성온천족욕체험장,yuseong_hotspring
6330,이명래,4,10달 전,0,근처만 갔지만 족욕은 안 함,유성온천족욕체험장,yuseong_hotspring
6331,황철,3,10달 전,0,노인정이 된 느낌이에요,유성온천족욕체험장,yuseong_hotspring
6425,박길용,5,1년 전,0,유성구 청족욕,유성온천족욕체험장,yuseong_hotspring
6427,장태화,5,1년 전,0,무료,유성온천족욕체험장,yuseong_hotspring
6430,조선응,3,1년 전,0,어르신들 천국,유성온천족욕체험장,yuseong_hotspring
6433,유정훈,4,1년 전,0,짜의 즐거움,유성온천족욕체험장,yuseong_hotspring
6440,Antonio Gates,5,1년 전,0,심한,유성온천족욕체험장,yuseong_hotspring
6458,이익수,1,1년 전,0,체험하지 않았어요,유성온천족욕체험장,yuseong_hotspring
6465,김성호,2,1년 전,0,지금 국화 축합니다,유성온천족욕체험장,yuseong_hotspring
6498,두드림문화창작협회,5,1년 전,0,족욕체험,유성온천족욕체험장,yuseong_hotspring
6500,dogsh (개상훈),2,1년 전,0,년 후쯤에 갈 곳,유성온천족욕체험장,yuseong_hotspring
6543,야옹아트yaongart,5,1년 전,0,동네,유성온천족욕체험장,yuseong_hotspring
6550,lim dubin,5,1년 전,0,짜족욕,유성온천족욕체험장,yuseong_hotspring
6555,TEANTIP JARANAI choiwonho,5,1년 전,0,아시아나 근교,유성온천족욕체험장,yuseong_hotspring
6603,오치영,5,1년 전,0,시해요,유성온천족욕체험장,yuseong_hotspring
6617,성통공완Mok,4,1년 전,0,온천짜,유성온천족욕체험장,yuseong_hotspring
6623,Jinsuk Kim,3,1년 전,0,어르신들 모임 장소,유성온천족욕체험장,yuseong_hotspring
6629,Gookche Jun (Jinu),4,1년 전,0,축 때,유성온천족욕체험장,yuseong_hotspring
6654,조승연 하모니카,5,2년 전,0,족욕이 무료,유성온천족욕체험장,yuseong_hotspring
6663,재수장 (희망별),4,2년 전,0,이 팝축,유성온천족욕체험장,yuseong_hotspring

In [9]:
유성온천족욕체험장2.notnull()

      name  ratings  date  label  comment  search  keyword
6300  True     True  True   True     True    True     True
6330  True     True  True   True     True    True     True
6331  True     True  True   True     True    True     True
6425  True     True  True   True     True    True     True
6427  True     True  True   True     True    True     True
6430  True     True  True   True     True    True     True
6433  True     True  True   True     True    True     True
6440  True     True  True   True     True    True     True
6458  True     True  True   True     True    True     True
6465  True     True  True   True     True    True     True
6498  True     True  True   True     True    True     True
6500  True     True  True   True     True    True     True
6543  True     True  True   True     True    True     True
6550  True     True  True   True     True    True     True
6555  True     True  True   True     True    True     True
6603  True     True  True   True     True    True     True
6617  True     True  True   True     True    True     True
6623  True     True  True   True     True    True     True
6629  True     True  True   True     True    True     True
6654  True     True  True   True     True    True     True
6663  True     True  True   True     True    True     True

In [10]:
#NaN 값을 확인할 수 없어서 데이터 프레임 슬라이싱으로 직접 확인 
유성온천족욕체험장.loc[6420:6674]
#index 6624부터 6674까지 nan값인데 수가 많지 않길래 마저 레이블링을 수행해줬다..

,name,ratings,date,label,comment,search,keyword
6420,지은경,5,1년 전,1,동네 쉼터 따끈따끈 좋아요 국화꽃 축도해요,유성온천족욕체험장,yuseong_hotspring
6421,homin Kim,5,1년 전,1,청소하시는 분도 있고 수건이 준비되어 있지 않아도 에어건으로 발을 말릴 수 있음,유성온천족욕체험장,yuseong_hotspring
6422,LEE가이버,5,1년 전,1,무료로 누구든 따뜻하게 발의 피로를 풀 수 있어 수 좋아 요 수건이 없어서 바람으로...,유성온천족욕체험장,yuseong_hotspring
6423,JI HYOUN Shin,4,1년 전,1,많은 분들이 발을 담그고 계셨어요 저는 개인적을 좋아하지 않아서 국화 축의 국화들과...,유성온천족욕체험장,yuseong_hotspring
6424,노혜련,5,1년 전,1,피곤함이 쫘악 풀립니다,유성온천족욕체험장,yuseong_hotspring
...,...,...,...,...,...,...,...
6670,김대홍,4,2년 전,1,우선 짜다 지하철에서 가까워 접근이 쉽다 웅덩이처럼 고인 곳과 개울처럼 긴 곳이 있...,유성온천족욕체험장,yuseong_hotspring
6671,KYUNGIL KIM,4,2년 전,1,언니 누구나 와서 쉴 수 있는 간이죠,유성온천족욕체험장,yuseong_hotspring
6672,S Jeong,4,2년 전,1,온 천축 재밌어요,유성온천족욕체험장,yuseong_hotspring
6673,조명자,5,2년 전,1,족욕 넘세하고 좋은 연도 몇 프로 보고 아주 좋았습니다,유성온천족욕체험장,yuseong_hotspring
6674,오세충,4,2년 전,1,유성온천 활축,유성온천족욕체험장,yuseong_hotspring

# yuseong_hotspring.csv

In [11]:
yuseong_hotspring = pd.read_csv('/home/aiffel-dj57/data_check/yuseong_hotspring.csv')
#test = pd.read_csv('nsmc/ratings_test.txt', sep='\t') # 
yuseong_hotspring

,name,ratings,date,comment,search,keyword
0,김명숙,5,2일 전,코로나로 한산한 유성의 이팝의 거리가 한산함에서 운함,유성온천공원,yuseong_hotspring
1,양승일,4,1주 전,꽃이 약간 시든 게 아쉬워서요,유성온천공원,yuseong_hotspring
2,민pd,5,1주 전,야경이 좋아요,유성온천공원,yuseong_hotspring
3,최진식,5,2주 전,소 연장 족욕 체험장도 있고 데이트 장소로 너무 좋아요,유성온천공원,yuseong_hotspring
4,황영주,5,1달 전,유성구에서 수시로 관리하셔서 깨끗한 환경의 꽃길 힐링할 수 있는 곳 추천합니다,유성온천공원,yuseong_hotspring
...,...,...,...,...,...,...
427,김대홍,4,2년 전,우선 짜다 지하철에서 가까워 접근이 쉽다 웅덩이처럼 고인 곳과 개울처럼 긴 곳이 있...,유성온천족욕체험장,yuseong_hotspring
428,KYUNGIL KIM,4,2년 전,언니 누구나 와서 쉴 수 있는 간이죠,유성온천족욕체험장,yuseong_hotspring
429,S Jeong,4,2년 전,온 천축 재밌어요,유성온천족욕체험장,yuseong_hotspring
430,조명자,5,2년 전,족욕 넘세하고 좋은 연도 몇 프로 보고 아주 좋았습니다,유성온천족욕체험장,yuseong_hotspring
431,오세충,4,2년 전,유성온천 활축,유성온천족욕체험장,yuseong_hotspring

In [12]:
df = df[df['keyword']== 'yuseong_hotspring']
#라벨링된 데이터의 값들을 리스트에 넣어준다 
label_list = df.label.tolist()
print(label_list) #차례대로 착착 들어갑니다
#None값이 없기 때문이 이 리스트를 그대로 yuseong_hotspring 데이터에 붙여줍니다. 
print(len(label_list))

[-1, -1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, 1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, -1, 1, 1, -1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, -1, -1, 0, -1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, -1, 1, 1, 1, 0, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, 1, -1, 1, 1, 1, 1, 1, -1, -1, 1, 1, 1, 1, -1, 1, 1, -1, 1, 1, 0, 1, 0, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, -1, 1, 0, 1, 1, 1, 1, -1, 0, -1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 0, 1, 1, 1, 1, 1, 1, -1, 1, 0, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1]
432

In [13]:
yuseong_hotspring = yuseong_hotspring.assign(label = label_list)

In [14]:
yuseong_hotspring

,name,ratings,date,comment,search,keyword,label
0,김명숙,5,2일 전,코로나로 한산한 유성의 이팝의 거리가 한산함에서 운함,유성온천공원,yuseong_hotspring,-1
1,양승일,4,1주 전,꽃이 약간 시든 게 아쉬워서요,유성온천공원,yuseong_hotspring,-1
2,민pd,5,1주 전,야경이 좋아요,유성온천공원,yuseong_hotspring,1
3,최진식,5,2주 전,소 연장 족욕 체험장도 있고 데이트 장소로 너무 좋아요,유성온천공원,yuseong_hotspring,1
4,황영주,5,1달 전,유성구에서 수시로 관리하셔서 깨끗한 환경의 꽃길 힐링할 수 있는 곳 추천합니다,유성온천공원,yuseong_hotspring,1
...,...,...,...,...,...,...,...
427,김대홍,4,2년 전,우선 짜다 지하철에서 가까워 접근이 쉽다 웅덩이처럼 고인 곳과 개울처럼 긴 곳이 있...,유성온천족욕체험장,yuseong_hotspring,1
428,KYUNGIL KIM,4,2년 전,언니 누구나 와서 쉴 수 있는 간이죠,유성온천족욕체험장,yuseong_hotspring,1
429,S Jeong,4,2년 전,온 천축 재밌어요,유성온천족욕체험장,yuseong_hotspring,1
430,조명자,5,2년 전,족욕 넘세하고 좋은 연도 몇 프로 보고 아주 좋았습니다,유성온천족욕체험장,yuseong_hotspring,1
431,오세충,4,2년 전,유성온천 활축,유성온천족욕체험장,yuseong_hotspring,1

In [15]:
yuseong_hotspring.head()

,name,ratings,date,comment,search,keyword,label
0,김명숙,5,2일 전,코로나로 한산한 유성의 이팝의 거리가 한산함에서 운함,유성온천공원,yuseong_hotspring,-1
1,양승일,4,1주 전,꽃이 약간 시든 게 아쉬워서요,유성온천공원,yuseong_hotspring,-1
2,민pd,5,1주 전,야경이 좋아요,유성온천공원,yuseong_hotspring,1
3,최진식,5,2주 전,소 연장 족욕 체험장도 있고 데이트 장소로 너무 좋아요,유성온천공원,yuseong_hotspring,1
4,황영주,5,1달 전,유성구에서 수시로 관리하셔서 깨끗한 환경의 꽃길 힐링할 수 있는 곳 추천합니다,유성온천공원,yuseong_hotspring,1

In [16]:
#파일저장
yuseong_hotspring.to_csv("labeled_yuseong_hotspring.csv", mode='w')

In [17]:
yh = pd.read_csv('/home/aiffel-dj57/project/labeled_yuseong_hotspring.csv')
yh[:30]
#확인

,Unnamed: 0,name,ratings,date,comment,search,keyword,label
0,0,김명숙,5,2일 전,코로나로 한산한 유성의 이팝의 거리가 한산함에서 운함,유성온천공원,yuseong_hotspring,-1
1,1,양승일,4,1주 전,꽃이 약간 시든 게 아쉬워서요,유성온천공원,yuseong_hotspring,-1
2,2,민pd,5,1주 전,야경이 좋아요,유성온천공원,yuseong_hotspring,1
3,3,최진식,5,2주 전,소 연장 족욕 체험장도 있고 데이트 장소로 너무 좋아요,유성온천공원,yuseong_hotspring,1
4,4,황영주,5,1달 전,유성구에서 수시로 관리하셔서 깨끗한 환경의 꽃길 힐링할 수 있는 곳 추천합니다,유성온천공원,yuseong_hotspring,1
5,5,타이콩._.,5,1달 전,커피 한 잔 들고 산책,유성온천공원,yuseong_hotspring,1
6,6,쮸잉,3,4달 전,볼 게 없던데 밤에 와야 하나,유성온천공원,yuseong_hotspring,1
7,7,SEONGJIN MOON,5,4달 전,최고라는 말밖에 할 말이 없다는 말밖에 할 말이 없다,유성온천공원,yuseong_hotspring,1
8,8,Jinsuk Kim,5,5달 전,야외 족욕 장히 있어서 많은 분들이 찾는 곳,유성온천공원,yuseong_hotspring,1
9,9,조인선,4,7달 전,잘 가꾸어 놓아 보기가 좋습니다,유성온천공원,yuseong_hotspring,1
10,10,조원진,4,7달 전,국화축혼잡,유성온천공원,yuseong_hotspring,-1
11,11,임춘섭,5,7달 전,친절하고 서비스가 좋으니까 파이팅,유성온천공원,yuseong_hotspring,1
12,12,한영식,5,7달 전,코로나로 전년 대비 아쉬움,유성온천공원,yuseong_hotspring,-1
13,13,라천호,4,7달 전,온천수가 나와서 좋네요,유성온천공원,yuseong_hotspring,1
14,14,깜김영찬,3,8달 전,옛날을 상상하며 왔는데 온 천지 구라기보다는 그냥 도시라고 보면 될 듯하네요 다음에...,유성온천공원,yuseong_hotspring,-1
15,15,pedro park,5,11달 전,좋음,유성온천공원,yuseong_hotspring,1
16,16,천용주,4,1년 전,산책하기 좋음,유성온천공원,yuseong_hotspring,1
17,17,한병찬,5,1년 전,월국화축가 아름다운 곳,유성온천공원,yuseong_hotspring,1
18,18,Ginny C,5,1년 전,에서 무료 따뜻한 봄 경험,유성온천공원,yuseong_hotspring,1
19,19,G.C Cheon,3,1년 전,간단하게 발족 욕을 할 수 있는 족욕 쟁입니다 일부러 들릴만한 곳은 아니지만 쉬어가...,유성온천공원,yuseong_hotspring,-1
20,20,PE건강더하기센터,5,2년 전,운동 삼아 걷기 좋아요 볼거리도 있고요,유성온천공원,yuseong_hotspring,1
21,21,柳松,4,2년 전,작은 음악 이벤트도 있고 평화 곳 있습니다 마라,유성온천공원,yuseong_hotspring,1
22,22,곽레나,5,3년 전,위치 좋고 요족 욕탕 무료 이용 참 좋아요 일본 유후인 안 부러움,유성온천공원,yuseong_hotspring,1
23,23,hoony kim,4,3년 전,어르신들이 많이 쉬시는 곳,유성온천공원,yuseong_hotspring,1
24,24,Diomar Corpuz,5,4년 전,큰,유성온천공원,yuseong_hotspring,0
25,25,이승현.믿음으로,4,10시간 전,어르신분들이 너무 좋아하시네요,유성온천족욕체험장,yuseong_hotspring,1
26,26,송재영,4,2일 전,도심에서 족욕을 체험할 수 있음,유성온천족욕체험장,yuseong_hotspring,1
27,27,쩐메이커 (쩐메이커),5,1주 전,아 살살 녹는다,유성온천족욕체험장,yuseong_hotspring,1
28,28,냥이찡.,5,2주 전,피로도 풀리고 아주 좋아요,유성온천족욕체험장,yuseong_hotspring,1
29,29,seongi cho,5,2주 전,아주 좋아요,유성온천족욕체험장,yuseong_hotspring,1

# water_barrel.csv

In [18]:
df = pd.read_csv('/home/aiffel-dj57/project/labeled_google_review.csv')
wb = pd.read_csv('/home/aiffel-dj57/data_check/water_barrel.csv')
wb

,name,ratings,date,comment,search,keyword
0,김성주,5,9시간 전,가편하게 산책과 등산을 할 수 있는 곳,계룡산국립공원수통골지구,water_barrel
1,서알콩,5,1일 전,커피 한잔하기 딱 좋은 거리에 용,계룡산국립공원수통골지구,water_barrel
2,윤설희,5,2일 전,비 오고 난 수통골,계룡산국립공원수통골지구,water_barrel
3,이상훈,4,2일 전,가족 나들이하기 정말 좋은 곳 국립이라 관리도 잘 돼있네요,계룡산국립공원수통골지구,water_barrel
4,송순이공주,5,2일 전,동네라서 자주 가는데 갈 때마다 좋은 곳이에요 이에는 뱀이 나와서 좀 놀랐어요,계룡산국립공원수통골지구,water_barrel
...,...,...,...,...,...,...
680,김태규,4,4년 전,완만한 산책 등산 먹거리 좋아요,수통골유원지,water_barrel
681,김뚱이,5,4년 전,가깝고 깨끗하게 정리도 잘 되어 있어서 좋아요,수통골유원지,water_barrel
682,이시형,5,4년 전,가끔 산책하러 가는 수통골이에요,수통골유원지,water_barrel
683,Park Sangbae,4,4년 전,등산을 목적으로 한다면 다녀올만함 여러 코스가 있으니 취향과 체력에 맞춰서 다녀오시...,수통골유원지,water_barrel
684,hyun seung shin,3,4년 전,좋은 산책길 간단한 등산도 가능,수통골유원지,water_barrel

In [19]:
수통골 = wb['keyword']== 'water_barrel'
len(수통골)

685

In [20]:
수통골_원본 = df[df['keyword'] == 'water_barrel']
len(수통골_원본)

685

In [21]:
수통골_원본

,name,ratings,date,label,comment,search,keyword
5558,김성주,5,9시간 전,1,가편하게 산책과 등산을 할 수 있는 곳,계룡산국립공원수통골지구,water_barrel
5559,서알콩,5,1일 전,1,커피 한잔하기 딱 좋은 거리에 용,계룡산국립공원수통골지구,water_barrel
5560,윤설희,5,2일 전,1,비 오고 난 수통골,계룡산국립공원수통골지구,water_barrel
5561,이상훈,4,2일 전,1,가족 나들이하기 정말 좋은 곳 국립이라 관리도 잘 돼있네요,계룡산국립공원수통골지구,water_barrel
5562,송순이공주,5,2일 전,1,동네라서 자주 가는데 갈 때마다 좋은 곳이에요 이에는 뱀이 나와서 좀 놀랐어요,계룡산국립공원수통골지구,water_barrel
...,...,...,...,...,...,...,...
6238,김태규,4,4년 전,1,완만한 산책 등산 먹거리 좋아요,수통골유원지,water_barrel
6239,김뚱이,5,4년 전,1,가깝고 깨끗하게 정리도 잘 되어 있어서 좋아요,수통골유원지,water_barrel
6240,이시형,5,4년 전,1,가끔 산책하러 가는 수통골이에요,수통골유원지,water_barrel
6241,Park Sangbae,4,4년 전,-1,등산을 목적으로 한다면 다녀올만함 여러 코스가 있으니 취향과 체력에 맞춰서 다녀오시...,수통골유원지,water_barrel
6242,hyun seung shin,3,4년 전,1,좋은 산책길 간단한 등산도 가능,수통골유원지,water_barrel

In [22]:
df = df[df['keyword']== 'water_barrel']
#라벨링된 데이터의 값들을 리스트에 넣어준다 
label_list = df.label.tolist()
print(label_list) #차례대로 착착 들어갑니다
#None값이 없기 때문이 이 리스트를 그대로 yuseong_hotspring 데이터에 붙여줍니다. 
print(len(label_list))

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, -1, 0, 1, -1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, -1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, 1, 1, 1, -1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, -1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, -1, 1, 1, -1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, -1, 1]
685

In [23]:
wb = wb.assign(label = label_list)

In [24]:
wb[:30]

,name,ratings,date,comment,search,keyword,label
0,김성주,5,9시간 전,가편하게 산책과 등산을 할 수 있는 곳,계룡산국립공원수통골지구,water_barrel,1
1,서알콩,5,1일 전,커피 한잔하기 딱 좋은 거리에 용,계룡산국립공원수통골지구,water_barrel,1
2,윤설희,5,2일 전,비 오고 난 수통골,계룡산국립공원수통골지구,water_barrel,1
3,이상훈,4,2일 전,가족 나들이하기 정말 좋은 곳 국립이라 관리도 잘 돼있네요,계룡산국립공원수통골지구,water_barrel,1
4,송순이공주,5,2일 전,동네라서 자주 가는데 갈 때마다 좋은 곳이에요 이에는 뱀이 나와서 좀 놀랐어요,계룡산국립공원수통골지구,water_barrel,1
5,김하뇨,5,3일 전,운동을 싫어하는 나는 싫어하지만 아주 좋다 가족이 무척 애용한 다 식당 되게 많고 ...,계룡산국립공원수통골지구,water_barrel,1
6,이희경,5,4일 전,주말에 비가 와서 그런지 물도 맑고 피라미도 많고 시한 바람 아주 굿,계룡산국립공원수통골지구,water_barrel,1
7,이석재,4,1주 전,산책도 좋고 등산도 좋은 곳이에요 가족 동반 산책 및 외식 추천,계룡산국립공원수통골지구,water_barrel,1
8,Sang Sun Park,5,1주 전,여유를 느낄 수 있습니다,계룡산국립공원수통골지구,water_barrel,1
9,Jay Lee,5,1주 전,싱그럽고 일방통행으로 돼 있어 편리해요,계룡산국립공원수통골지구,water_barrel,1
10,JAED,5,1주 전,가벼운 산책로,계룡산국립공원수통골지구,water_barrel,1
11,임승환,5,1주 전,항상 좋아요,계룡산국립공원수통골지구,water_barrel,1
12,jungam Choi,4,1주 전,계룡산 줄기 수통골 너무 좋습니다,계룡산국립공원수통골지구,water_barrel,1
13,Hae Young Choi,5,1주 전,송사리 많아요,계룡산국립공원수통골지구,water_barrel,1
14,Manseok Kwak,5,1주 전,여러 코스가 있어서 체력에 맞게 등산 즐길 수 있어요,계룡산국립공원수통골지구,water_barrel,1
15,롱다리,5,2주 전,트레킹 코스 초보 등산,계룡산국립공원수통골지구,water_barrel,1
16,Ethan Kim,5,2주 전,정말 잘 가꾸어 놓은 산입니다 가족과 산책하기 좋습니다,계룡산국립공원수통골지구,water_barrel,1
17,세네카 뭐할까,5,2주 전,너어 오 너무 좋아요 추천 금수봉 무릎 보호대 필수,계룡산국립공원수통골지구,water_barrel,1
18,은숑,5,2주 전,좋아요 나무 향이요,계룡산국립공원수통골지구,water_barrel,1
19,김진옥,5,2주 전,식사하고 아이들과 산책하기 좋은 곳입니다,계룡산국립공원수통골지구,water_barrel,1
20,Seok-sung Jeong,5,2주 전,좋아요,계룡산국립공원수통골지구,water_barrel,1
21,김태환,5,2주 전,산책로가 잘되어 있어 산책하기 좋습니다 등산로도 있는데 등산하신다면 신발과 배낭 그...,계룡산국립공원수통골지구,water_barrel,-1
22,다물,5,2주 전,수통골의 봄,계룡산국립공원수통골지구,water_barrel,1
23,이필열,5,3주 전,살아기 유모차 태워서 다녀왔는데 가볍게 산책하기 좋은 코스 같았습니다 물이 많았으면...,계룡산국립공원수통골지구,water_barrel,1
24,송경호,4,3주 전,너무 좋아요,계룡산국립공원수통골지구,water_barrel,1
25,김명자,5,3주 전,좋아요,계룡산국립공원수통골지구,water_barrel,1
26,Jinsoo Lee,5,4주 전,맛 집이 많은 곳입니다 욕 주차장은 많이 붐빕니다 산책로는 코로나 예방을 위해 단방...,계룡산국립공원수통골지구,water_barrel,1
27,바이블셰프,5,1달 전,굳굳,계룡산국립공원수통골지구,water_barrel,1
28,신형록,5,1달 전,기 좋고 산새가 좋고 등산하기 좋아요,계룡산국립공원수통골지구,water_barrel,1
29,엄태순,4,1달 전,걷기에 힘들지 않은 코스와 카페 음식 맛집 등 힐링하기 좋은 곳입니다,계룡산국립공원수통골지구,water_barrel,1

In [25]:
#파일저장
wb.to_csv("labeled_water_barrel.csv", mode='w')

In [26]:
wb = pd.read_csv('/home/aiffel-dj57/project/labeled_water_barrel.csv')
wb#확인

,Unnamed: 0,name,ratings,date,comment,search,keyword,label
0,0,김성주,5,9시간 전,가편하게 산책과 등산을 할 수 있는 곳,계룡산국립공원수통골지구,water_barrel,1
1,1,서알콩,5,1일 전,커피 한잔하기 딱 좋은 거리에 용,계룡산국립공원수통골지구,water_barrel,1
2,2,윤설희,5,2일 전,비 오고 난 수통골,계룡산국립공원수통골지구,water_barrel,1
3,3,이상훈,4,2일 전,가족 나들이하기 정말 좋은 곳 국립이라 관리도 잘 돼있네요,계룡산국립공원수통골지구,water_barrel,1
4,4,송순이공주,5,2일 전,동네라서 자주 가는데 갈 때마다 좋은 곳이에요 이에는 뱀이 나와서 좀 놀랐어요,계룡산국립공원수통골지구,water_barrel,1
...,...,...,...,...,...,...,...,...
680,680,김태규,4,4년 전,완만한 산책 등산 먹거리 좋아요,수통골유원지,water_barrel,1
681,681,김뚱이,5,4년 전,가깝고 깨끗하게 정리도 잘 되어 있어서 좋아요,수통골유원지,water_barrel,1
682,682,이시형,5,4년 전,가끔 산책하러 가는 수통골이에요,수통골유원지,water_barrel,1
683,683,Park Sangbae,4,4년 전,등산을 목적으로 한다면 다녀올만함 여러 코스가 있으니 취향과 체력에 맞춰서 다녀오시...,수통골유원지,water_barrel,-1
684,684,hyun seung shin,3,4년 전,좋은 산책길 간단한 등산도 가능,수통골유원지,water_barrel,1

# uineungjeongi_street.csv (데이터 숫자 다름)

In [27]:
df = pd.read_csv('/home/aiffel-dj57/project/labeled_google_review.csv')
us = pd.read_csv('/home/aiffel-dj57/data_check/uineungjeongi_street.csv')
us

,name,ratings,date,comment,search,keyword
0,조ok001114@naver.com,5,7달 전,어려서부터 자주 다니던 곳을 지금은 아이와 함께 합니다,으능정이거리,uineungjeongi_street
1,김대홍,4,2년 전,대전 관광코스 스카이 로드가 유명하다 길이 높이 인간 천장이 다 단순한 천장이 아니...,으능정이거리,uineungjeongi_street
2,박창연,3,2년 전,대전 근처에 있습니다,으능정이거리,uineungjeongi_street
3,jong kuk Kim,4,2년 전,둔산동으로 상권이 넘어간 뒤로 예전 명성으로의 상권 활성화를 위해 만든 은행동 으능...,으능정이거리,uineungjeongi_street
4,john prester,4,3년 전,은행동 거리는 구도심 중심부인데 성심당 본점이 일 유명하지만 세계 과자 한 점이나 ...,으능정이거리,uineungjeongi_street
...,...,...,...,...,...,...
328,안재모,5,1년 전,대전에서 사람 냄새 맡고 싶어서 간 곳,으능정이문화거리,uineungjeongi_street
329,Evgeny Pauloff,5,1년 전,좋은 장소 큰 대화형 화면이 다리처럼 보인다는 것을 기억합니다,으능정이문화거리,uineungjeongi_street
330,최기주,5,2년 전,밤거리 대전은 행동 으능정이 거리,으능정이문화거리,uineungjeongi_street
331,MỜI VÀO NHÀ TÔI,5,2년 전,좋은,으능정이문화거리,uineungjeongi_street
332,DANNY Kwon,5,3년 전,약 길이의 스크린이 있는 대형몰,으능정이문화거리,uineungjeongi_street

In [28]:
us['search'].value_counts()

대전스카이로드     312
으능정이문화거리     13
으능정이거리        8
Name: search, dtype: int64

In [29]:
dl = df[df['search'] == '대전스카이로드']
len(dl)  #레이블링된 데이터의 스카이로드 데이터 수가 하나 많다

313

In [30]:
으능정이문화거리 = df[df['search'] == '으능정이문화거리']
len(으능정이문화거리)

13

In [31]:
으능정이거리 = df[df['search'] == '으능정이거리']
len(으능정이거리)

8

In [32]:
dl  #데이터 확인 (숫자 다름)

,name,ratings,date,label,comment,search,keyword
1338,이태윤,5,1일 전,1,아주 좋다,대전스카이로드,NaN
1339,시골사람,1,2일 전,-1,옛날 같지 않음,대전스카이로드,NaN
1340,bum cheul Park,4,3일 전,1,좋아요,대전스카이로드,NaN
1341,곽사장,4,3일 전,1,지방도시 중에선 나름 선방한 뷰,대전스카이로드,NaN
1342,송영택,3,5일 전,1,밤에 천장에서 쇼가,대전스카이로드,NaN
...,...,...,...,...,...,...,...
1646,상하이조,5,1년 전,1,매시마다 자 이벤트가 재미있음,대전스카이로드,NaN
1647,조용일,4,1년 전,-1,가끔 구경하고 맛 집도 다소 있지만 소리가 너무 큼,대전스카이로드,NaN
1648,Hk Park,3,1년 전,1,이색적인 랜드마크,대전스카이로드,NaN
1649,파라다이스,5,1년 전,1,멋지고 가격도 좋고 사람들도 많고 좋다,대전스카이로드,NaN
1650,s hong',4,1년 전,1,함바 바조,대전스카이로드,NaN

In [33]:
dl2 = us[us['search'] == '대전스카이로드']
dl2  #끝에 하나가 추가

,name,ratings,date,comment,search,keyword
8,이태윤,5,1일 전,아주 좋다,대전스카이로드,uineungjeongi_street
9,시골사람,1,2일 전,옛날 같지 않음,대전스카이로드,uineungjeongi_street
10,bum cheul Park,4,3일 전,좋아요,대전스카이로드,uineungjeongi_street
11,곽사장,4,3일 전,지방도시 중에선 나름 선방한 뷰,대전스카이로드,uineungjeongi_street
12,송영택,3,5일 전,밤에 천장에서 쇼가,대전스카이로드,uineungjeongi_street
...,...,...,...,...,...,...
315,상하이조,5,1년 전,매시마다 자 이벤트가 재미있음,대전스카이로드,uineungjeongi_street
316,조용일,4,1년 전,가끔 구경하고 맛 집도 다소 있지만 소리가 너무 큼,대전스카이로드,uineungjeongi_street
317,Hk Park,3,1년 전,이색적인 랜드마크,대전스카이로드,uineungjeongi_street
318,파라다이스,5,1년 전,멋지고 가격도 좋고 사람들도 많고 좋다,대전스카이로드,uineungjeongi_street
319,s hong',4,1년 전,함바 바조,대전스카이로드,uineungjeongi_street

# 두 데이터셋을 concat으로 합친 후 겹치는 부분을 불러와서 인덱스를 검토하는 방식으로 해보려고 했는데 두 데이터셋의 인덱스가 달라서 이건 사용할 수 없었어요.

In [34]:
#con = pd.concat([dl,dl2])
#con = con.reset_index(drop=True) # 인덱스 초기화
# 
#df_grp = con.groupby(df.columns.tolist()) # 전체 열 비교
#df_di = df_grp.groups 
# 
#idx = [x[0] for x in df_di.values() if len(x) == 1] # 인덱스 검토
#df.loc[idx,:] # Same as df.reindex(idx)

In [35]:
df2 = pd.concat([dl,dl2])
df2 = df2.reset_index(drop=True) # 인덱스 초기화
df2

,name,ratings,date,label,comment,search,keyword
0,이태윤,5,1일 전,1.0,아주 좋다,대전스카이로드,NaN
1,시골사람,1,2일 전,-1.0,옛날 같지 않음,대전스카이로드,NaN
2,bum cheul Park,4,3일 전,1.0,좋아요,대전스카이로드,NaN
3,곽사장,4,3일 전,1.0,지방도시 중에선 나름 선방한 뷰,대전스카이로드,NaN
4,송영택,3,5일 전,1.0,밤에 천장에서 쇼가,대전스카이로드,NaN
...,...,...,...,...,...,...,...
620,상하이조,5,1년 전,NaN,매시마다 자 이벤트가 재미있음,대전스카이로드,uineungjeongi_street
621,조용일,4,1년 전,NaN,가끔 구경하고 맛 집도 다소 있지만 소리가 너무 큼,대전스카이로드,uineungjeongi_street
622,Hk Park,3,1년 전,NaN,이색적인 랜드마크,대전스카이로드,uineungjeongi_street
623,파라다이스,5,1년 전,NaN,멋지고 가격도 좋고 사람들도 많고 좋다,대전스카이로드,uineungjeongi_street
624,s hong',4,1년 전,NaN,함바 바조,대전스카이로드,uineungjeongi_street

In [64]:
col = list(dl.columns)[4:6]
col

['comment', 'search']

In [65]:
df_gpby = df2.groupby(col) 
idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]

In [66]:
#중복되는 행들에 대해선 인덱스가 2개 이상이다.
# 두 데이터프레임에 대해 서로 차이나는 인덱스만 저장
[x[0] for x in df_di.values() if len(x) == 1]

[382,
 456,
 343,
 385,
 415,
 363,
 479,
 320,
 462,
 503,
 523,
 616,
 426,
 396,
 435,
 572,
 373,
 428,
 422,
 438,
 542,
 553,
 432,
 600,
 319,
 402,
 517,
 622,
 429,
 341,
 507,
 347,
 473,
 592,
 336,
 361,
 397,
 335,
 367,
 326,
 359,
 325,
 609,
 521,
 518,
 603,
 449,
 595,
 453,
 614,
 606,
 588,
 520,
 338,
 463,
 405,
 391,
 591,
 546,
 470,
 543,
 537,
 587,
 586,
 376,
 437,
 372,
 360,
 497,
 610,
 608,
 582,
 512,
 570,
 340,
 414,
 481,
 486,
 315,
 562,
 613,
 575,
 560,
 579,
 535,
 460,
 488,
 327,
 431,
 458,
 522,
 425,
 624,
 440,
 510,
 395,
 528,
 421,
 490,
 441,
 549,
 599,
 344,
 545,
 567,
 378,
 465,
 604,
 368,
 392,
 499,
 316,
 534,
 332,
 619,
 550,
 496,
 585,
 532,
 348,
 383,
 400,
 407,
 559,
 478,
 557,
 434,
 353,
 467,
 404,
 596,
 477,
 594,
 423,
 576,
 408,
 505,
 433,
 356,
 541,
 398,
 424,
 495,
 430,
 578,
 501,
 413,
 417,
 564,
 472,
 539,
 427,
 516,
 513,
 445,
 573,
 401,
 618,
 354,
 339,
 412,
 381,
 365,
 346,
 403,
 544,
 459,
 379,
 329,
 374,
 411,
 514,
 362,
 508,
 444,
 506,
 366,
 494,
 566,
 469,
 483,
 333,
 342,
 388,
 601,
 436,
 451,
 583,
 446,
 357,
 589,
 323,
 352,
 482,
 442,
 394,
 457,
 454,
 370,
 487,
 525,
 328,
 493,
 620,
 515,
 524,
 468,
 612,
 540,
 605,
 531,
 561,
 317,
 565,
 314,
 538,
 355,
 351,
 475,
 349,
 547,
 337,
 580,
 418,
 384,
 416,
 410,
 569,
 375,
 409,
 386,
 571,
 555,
 551,
 484,
 452,
 554,
 498,
 321,
 389,
 455,
 530,
 519,
 324,
 548,
 502,
 406,
 345,
 584,
 511,
 318,
 574,
 474,
 480,
 529,
 334,
 364,
 461,
 393,
 476,
 387,
 464,
 450,
 439,
 617,
 500,
 419,
 471,
 371,
 466,
 313,
 330,
 615,
 380,
 492,
 590,
 593,
 420,
 322,
 558,
 443,
 552,
 556,
 577,
 533,
 581,
 491,
 527,
 536,
 598,
 621,
 607,
 504,
 485,
 369,
 563,
 390,
 568,
 331,
 509,
 602,
 623,
 447,
 489,
 377,
 597,
 350,
 526,
 448,
 358,
 611,
 399,
 69,
 143,
 30,
 72,
 102,
 50,
 166,
 7,
 149,
 190,
 210,
 303,
 113,
 83,
 122,
 259,
 60,
 115,
 109,
 125,
 229,
 240,
 119,
 287,
 6,
 89,
 204,
 310,
 116,
 28,
 194,
 34,
 160,
 279,
 23,
 48,
 84,
 22,
 54,
 13,
 46,
 12,
 296,
 208,
 205,
 290,
 136,
 282,
 140,
 301,
 293,
 275,
 207,
 25,
 150,
 92,
 78,
 278,
 233,
 157,
 230,
 224,
 274,
 273,
 63,
 124,
 59,
 47,
 184,
 297,
 295,
 269,
 199,
 257,
 27,
 101,
 168,
 173,
 2,
 249,
 300,
 262,
 247,
 266,
 222,
 147,
 175,
 14,
 118,
 145,
 209,
 112,
 312,
 127,
 197,
 82,
 215,
 108,
 177,
 128,
 236,
 286,
 31,
 232,
 254,
 65,
 152,
 291,
 55,
 79,
 186,
 3,
 221,
 19,
 306,
 237,
 183,
 272,
 219,
 35,
 70,
 87,
 94,
 246,
 165,
 244,
 121,
 40,
 154,
 91,
 283,
 164,
 281,
 110,
 263,
 95,
 192,
 120,
 43,
 228,
 85,
 111,
 182,
 117,
 265,
 188,
 100,
 104,
 251,
 159,
 226,
 114,
 203,
 200,
 132,
 260,
 88,
 305,
 41,
 26,
 99,
 68,
 52,
 33,
 90,
 231,
 146,
 66,
 16,
 61,
 98,
 201,
 49,
 195,
 131,
 193,
 53,
 181,
 253,
 156,
 170,
 20,
 29,
 75,
 288,
 123,
 138,
 270,
 133,
 44,
 276,
 10,
 39,
 169,
 129,
 81,
 144,
 141,
 57,
 174,
 212,
 15,
 180,
 308,
 202,
 211,
 155,
 299,
 227,
 292,
 218,
 248,
 4,
 252,
 1,
 225,
 42,
 38,
 162,
 36,
 234,
 24,
 267,
 105,
 71,
 103,
 97,
 256,
 62,
 96,
 73,
 258,
 242,
 238,
 171,
 139,
 241,
 185,
 8,
 76,
 142,
 217,
 206,
 11,
 235,
 189,
 93,
 32,
 271,
 198,
 5,
 261,
 161,
 167,
 216,
 21,
 51,
 148,
 80,
 163,
 74,
 151,
 137,
 126,
 304,
 187,
 106,
 158,
 58,
 153,
 0,
 17,
 302,
 67,
 179,
 277,
 280,
 107,
 9,
 245,
 130,
 239,
 243,
 264,
 220,
 268,
 178,
 214,
 223,
 285,
 309,
 294,
 191,
 172,
 307,
 56,
 250,
 77,
 255,
 18,
 196,
 289,
 311,
 134,
 176,
 64,
 284,
 37,
 213,
 135,
 45,
 298,
 86]

In [67]:
# 두 데이터프레임에 대해 서로 차이나는 인덱스만 저장
df2.reindex(idx)
#작동을 안하네...

,name,ratings,date,label,comment,search,keyword
307,지존팬지엔k,1,1년 전,0.0,앙,대전스카이로드,NaN
61,뚜향,5,6달 전,1.0,이 뻐요대전의 중심이네요,대전스카이로드,NaN
79,고강민,5,7달 전,1.0,이곳은 저녁에 가야 이 뻐요 이상,대전스카이로드,NaN
392,고강민,5,7달 전,NaN,이곳은 저녁에 가야 이뻐요 이상,대전스카이로드,uineungjeongi_street
374,뚜향,5,6달 전,NaN,이뻐요 대전의 중심이네요,대전스카이로드,uineungjeongi_street

In [59]:
dl2[dl2['name']== '고강민']

Empty DataFrame
Columns: [name, ratings, date, comment, search, keyword]
Index: []

In [60]:
dl[dl['name']== '고강민']

     name  ratings  date  label             comment   search keyword
1417  고강민        5  7달 전      1  이곳은 저녁에 가야 이 뻐요 이상  대전스카이로드     NaN

In [61]:
us[us['name'] == '고강민']  #데이터가 없네?

Empty DataFrame
Columns: [name, ratings, date, comment, search, keyword]
Index: []

In [68]:
us[us['name'] == '뚜향']

Empty DataFrame
Columns: [name, ratings, date, comment, search, keyword]
Index: []

In [41]:
print(dl[(df == dl2).all(axis=1) == False])  #ㅠㅠㅠ

ValueError: Can only compare identically-labeled DataFrame objects

In [46]:
#dl 프레임에 #d2가 없으면 dl['boolean']에 나열 시도
dl['boo'] = dl['comment']!= dl2['comment']

ValueError: Can only compare identically-labeled Series objects

In [74]:
#if x in dl['comment'] in dl2['comment']:
#dl['comment'].apply(lambda x: 'Found' if x == dl[comment] else 'Not Found')
mergedStuff = pd.merge(dl, dl2, on=['comment'], how='inner')
mergedStuff.head()

,name_x,ratings_x,date_x,label,comment,search_x,keyword_x,name_y,ratings_y,date_y,search_y,keyword_y
0,이태윤,5,1일 전,1,아주 좋다,대전스카이로드,NaN,이태윤,5,1일 전,대전스카이로드,uineungjeongi_street
1,시골사람,1,2일 전,-1,옛날 같지 않음,대전스카이로드,NaN,시골사람,1,2일 전,대전스카이로드,uineungjeongi_street
2,bum cheul Park,4,3일 전,1,좋아요,대전스카이로드,NaN,bum cheul Park,4,3일 전,대전스카이로드,uineungjeongi_street
3,bum cheul Park,4,3일 전,1,좋아요,대전스카이로드,NaN,누루19,5,4달 전,대전스카이로드,uineungjeongi_street
4,bum cheul Park,4,3일 전,1,좋아요,대전스카이로드,NaN,김상범,5,8달 전,대전스카이로드,uineungjeongi_street

In [ ]:
#파일저장
wb.to_csv("labeled_water_barrel.csv", mode='w')

wb = pd.read_csv('/home/aiffel-dj57/project/labeled_water_barrel.csv')
wb#확인

# sungsimdang_bakery.csv

In [76]:
df = pd.read_csv('/home/aiffel-dj57/project/labeled_google_review.csv')
sb = pd.read_csv('/home/aiffel-dj57/data_check/sungsimdang_bakery.csv')
sb

,name,ratings,date,comment,search,keyword
0,이형수,5,1일 전,맛있는 빵들이 너무 많네요 매장도 깔끔하고 시 명성 높은 성심당입니다,성심당DCC점,sungsimdang_bakery
1,곽웅기,5,1일 전,자개 테이블에게 먹는 팥빙수의 맛,성심당DCC점,sungsimdang_bakery
2,Producer dk,5,2일 전,맛있다 근데 일요일 줄 너무 길어,성심당DCC점,sungsimdang_bakery
3,Seok-hwan Lee,5,2일 전,사람이 정말 많아요,성심당DCC점,sungsimdang_bakery
4,정하나,5,2일 전,진짜 사람 많네요,성심당DCC점,sungsimdang_bakery
...,...,...,...,...,...,...
1857,2분할셋트법,4,2년 전,백화점 주차장 무료 이용하고 직도 친절하고 본사에서 대부분 가져오고 아주 기본적인 ...,성심당롯데백화점대전점,sungsimdang_bakery
1858,김원진,4,2년 전,직들이 친절해서 너무 좋습니다,성심당롯데백화점대전점,sungsimdang_bakery
1859,Younglia Kim,4,3년 전,맛있습니다,성심당롯데백화점대전점,sungsimdang_bakery
1860,홍종상,5,3년 전,본점보다 가까운 곳에 있는 성심당 롯데백화점 갈 때 간간이 들르게 되네요,성심당롯데백화점대전점,sungsimdang_bakery
1861,Yong-Chan PARK,4,5년 전,집 가까이에 성심당이 있다는 것은 좋은 일이죠,성심당롯데백화점대전점,sungsimdang_bakery

In [77]:
sb['search'].value_counts()

성심당본점          490
성심당DCC점        457
성심당케잌부띠끄본점     427
성심당롯데백화점대전점    320
성심당대전역점        168
Name: search, dtype: int64

In [78]:
성심당본점 = df[df['search'] == '성심당본점']
성심당DCC점 = df[df['search'] == '성심당DCC점']
성심당케잌부띠끄본점 = df[df['search'] == '성심당케잌부띠끄본점']
성심당롯데백화점대전점 = df[df['search'] == '성심당롯데백화점대전점']
성심당대전역점 = df[df['search'] == '성심당대전역점']
print('성심당본점 :', len(성심당본점))  
print('성심당DCC점 :', len(성심당DCC점))  
print('성심당케잌부띠끄본점 :', len(성심당케잌부띠끄본점))  
print('성심당롯데백화점대전점 :', len(성심당롯데백화점대전점))  
print('성심당대전역점 :', len(성심당대전역점))  

#레이블링된 데이터의 성심당 본점과 DCC점의 데이터가 하나씩 많다

성심당본점 : 491
성심당DCC점 : 458
성심당케잌부띠끄본점 : 427
성심당롯데백화점대전점 : 320
성심당대전역점 : 168

# science_museum.csv

In [79]:
df = pd.read_csv('/home/aiffel-dj57/project/labeled_google_review.csv')
sm = pd.read_csv('/home/aiffel-dj57/data_check/science_museum.csv')
sm

,name,ratings,date,comment,search,keyword
0,안희원,5,1일 전,아이가 너무 좋아했습니다 일반 전시와 특별 전시 관람 시간 상이 하게 하면 더 좋을...,국립중앙과학관,science_museum
1,문성범,3,3일 전,정부에서 만들었는데 세금 낭비인 거 같아요,국립중앙과학관,science_museum
2,김형준,5,6일 전,아이들이랑 다니기에 너무 좋아요,국립중앙과학관,science_museum
3,Kabhi Park,5,1주 전,아이와 놀기 좋아요가 면 어른이 조금 질려요,국립중앙과학관,science_museum
4,최아인,5,1주 전,여러 체험이 있어서 상식도 알고 체험도 할 수 있어서 너무 좋아요,국립중앙과학관,science_museum
...,...,...,...,...,...,...
375,Light-Emitting Diode,5,1년 전,좋은 전시회,국립중앙과학관,science_museum
376,Hae Young Choi,4,1년 전,아이들이 좋아하는 룡놀이터 별건 없어도 용만 있으면 좋은 듯,국립중앙과학관,science_museum
377,최정훈,5,1년 전,저렴한 입장료에 구성비 최고입니다 놀거리 볼거리 좋은 장소 강추합니다,국립중앙과학관,science_museum
378,Donald Yoo,4,1년 전,입장료가 무료라 좋습니다 유료시설도 있으나 많이 저렴한 편이라 부담은 없습니다단 내...,국립중앙과학관,science_museum
379,김타요,5,1년 전,아이들과 알찬 시간이었습니다,국립중앙과학관,science_museum

In [80]:
sm['search'].value_counts()

국립중앙과학관    380
Name: search, dtype: int64

In [81]:
국립중앙과학관 = df[df['search'] == '국립중앙과학관']
국립중앙과학관

,name,ratings,date,label,comment,search,keyword
6828,안희원,5,1일 전,1,아이가 너무 좋아했습니다 일반 전시와 특별 전시 관람 시간 상이 하게 하면 더 좋을...,국립중앙과학관,NaN
6829,문성범,3,3일 전,-1,정부에서 만들었는데 세금 낭비인 거 같아요,국립중앙과학관,NaN
6830,김형준,5,6일 전,1,아이들이랑 다니기에 너무 좋아요,국립중앙과학관,NaN
6831,Kabhi Park,5,1주 전,1,아이와 놀기 좋아요가 면 어른이 조금 질려요,국립중앙과학관,NaN
6832,최아인,5,1주 전,1,여러 체험이 있어서 상식도 알고 체험도 할 수 있어서 너무 좋아요,국립중앙과학관,NaN
...,...,...,...,...,...,...,...
7179,Light-Emitting Diode,5,1년 전,1,좋은 전시회,국립중앙과학관,NaN
7180,Hae Young Choi,4,1년 전,-1,아이들이 좋아하는 룡놀이터 별건 없어도 용만 있으면 좋은 듯,국립중앙과학관,NaN
7181,최정훈,5,1년 전,1,저렴한 입장료에 구성비 최고입니다 놀거리 볼거리 좋은 장소 강추합니다,국립중앙과학관,NaN
7182,Donald Yoo,4,1년 전,-1,입장료가 무료라 좋습니다 유료시설도 있으나 많이 저렴한 편이라 부담은 없습니다단 내...,국립중앙과학관,NaN
7183,김타요,5,1년 전,1,아이들과 알찬 시간이었습니다,국립중앙과학관,NaN